*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#all{
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
/* DESTOP  */

/* ---header--- */

header{
    background-color: white;
}

header #text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 145px;
}

#text *{
    margin: 10px 0;
}

#text h1{
    font-size: 40px;
}

header nav{
    width: 100%;
    height: 30px;
    background-color: #333333;
}

header li{
    list-style: none;
    float: left;
    height: 30px;
    color: white;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
}

header li:last-child{
    float: right;
}

/* ---content--- */

#content{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#left{
    margin-right: 10px;
}

#left .title-heading{
    background-color: white;
    padding: 10px;
}

#left .title-heading *{
    margin: 10px 0;
}

#left .title-heading img{
    width: 100%;
    height: 300px;
}

#right .about, .popular, .follow{
    background-color: white;    
    padding: 10px;
    margin-bottom: 10px;
}

#right .about *, .popular *, .follow *{
    margin: 10px 0;
} 

#right .about img{
    width: 100%;
}

#right .popular img{
    width: 100%;
    height: 100px;
    margin: 0;
}

/* --footer-- */
footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

/* TABLET */
@media only screen and (max-width: 768px){
    #content{
        display: flex;
        flex-direction: column;
    }

    #left{
        margin-right: 0;
    }

    #left .title-heading{
        margin-bottom: 10px;
    }
}

/* MOBILE */
@media only screen and (max-width: 425px){
    header nav{
        height: auto;
    }

    header li{
        float: none;
        text-align: center;
    }

    header li:last-child{
        float: none;
    }

    #content{
        display: flex;
        flex-direction: column;
    }
    
    p{
        font-size: 12px;
    }
}
