#grid-container{
    background-color: hsl(240, 50%, 50%);
    display: grid;
    grid-template-areas: 
    'a2 a3 a1'
    'a5 a4 a6';
    grid-gap: 20px;
}

#grid-container > div{
    min-height: 50px;
    background: hsl(221, 67%, 77%);
}

.grid-item1{
    grid-area: a1;
}

.grid-item2{
    grid-area: a2;
}

.grid-item3{
    grid-area: a3;
}

.grid-item4{
    grid-area: a4;
}

.grid-item5{
    grid-area: a5;
}

.grid-item6{
    grid-area: a6;
}



/* .header{
    grid-area: header;
}

#left{
    grid-area: left1;
}

.main{
    grid-area: main;
    height: 200px;
}

.right{
    grid-area: right1;
}

.footer{
    grid-area: footer;
} */

/* @media only screen and (max-width: 400px){
    #grid-container{
        grid-template-areas: 
        'header'
        'left1'
        'main'
        'right1'
        'footer';
    }
} */